.page_button {
  border: 1px solid #1890ff;
  width: 55px;
  margin: 2% 5px auto;
  height: 35px;
  background-color: #fff;
  color: #1890ff;
  border-radius: 4px;
}

.page_button:hover {
  background-color: #1890ff;
  color: #fff;
}

.button_container {
  margin: 0 auto;
  padding: 5px;
  display: flex;
  width: 95%;
  justify-content: center;
}

.go_to_container {
  margin-top: 1.75%;
  margin-left: 2%;
}

.go_to_container input {
  border: 1px solid #fff;
  height: 30px;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 5px;
  font-family: "Times New Roman", Times, serif;
  width: 35%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
