.card_container_even {
  width: 100%;
  background-color: #dedede;
  display: flex;
  justify-content: space-evenly;
  color: #222;
}

.card_container_odd {
  width: 100%;
  background-color: #353839;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
}

.card_container_text {
  width: 35%;
}
